/* My CSS File */

body {
 background-image: url("images/pic1.png");
 background-repeat: no-repeat;
 overflow: hidden;
}

#p1Score {
  margin-left: 275px;
}

#p2Score {
  margin-left: 1130px;
}

.tada {
    animation-duration: 2s;
    animation-delay: 0.5s;
}

#title {
	width: 60%;
    margin: 0 auto;
}


h1 {
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-size: 60px;
	color: yellow;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    letter-spacing: 2px;
    margin-top: 40px;
}

/*  SECTIONS  */
.section1 {
	clear: both;
	padding: 0px;
    position: absolute;
    top: 15%;
    left: 32.5%;
}

.section2 {
	clear: both;
	padding: 0px;
    position: absolute;
    top: 15%;
    left: 44%;
}

.section3 {
	clear: both;
	padding: 0px;
    position: absolute;
    top: 15%;
    left: 55.5%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	 margin: 5% 0 1% 1%;
	background-color: rgba(236,239,241, 0.8);
	width: 200px;
	height: 200px;
	border-radius: 25px;
	}

footer {
  font-family: 'Indie Flower', cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}

span.heart {
	color: red;
	font-weight: bold;
}

#playerOneImage {
  margin-top: 90px;
	width: 300px;
	margin-left: 150px;
}

#playerTwoImage {
  width: 300px;
	margin-left: 900px;
}

#p1Turn {
	width: 50px;
	margin-left: 270px;
}

#p2Turn {
	position: absolute;
	width: 50px;
	margin-left: 1160px;
	margin-top: 9px;
}

#p2Turnn {
	margin-left: 1490px;
  position: absolute;
  width: 50px;
  margin-top: 9px;
}


.soundOn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.soundOff {
    position: absolute;
    top: 0px;
    right: 80px;
}

.replay {
    position: absolute;
    top: 0px;
    right: 160px;
}

@keyframes bounceInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes pulse {
 50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
  }
}

.heart {
  height: 25px;
}

.swal-overlay {
  background-color: rgba(242,245,248, 0.45);
}

.swal-text{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.swal-button {
  position: relative;
  left: -170px;
  font-size: 20px;
}

.swal-modal {
  border: black solid 5px;
}

p {
  display: inline-flex;
  font-family: 'Luckiest Guy';
  font-size: 100px;
  font-weight: lighter;
  top: 20px;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}


.scores {
  position: absolute;
  top: 1%;
  height: 110px;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media (max-width: 1803px) and (min-width: 1760){
body {
  display: flex;
}

#p1Turn {
  height: 50px;
  width: 50px;
  margin-left: 0; 
}

#p2Turn {
  position: absolute;
  width: 50px;
  margin-right: 160px;
  margin-top: 9px;
}

#playerTwoImage {
  height: 350px;
  margin-left: 900px;
  margin-top: 200px;
}

#playerOneImage {
  margin-top: 90px;
  height: 350px;
  margin-left: 0px;
  margin-top: 200px;
}


.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

    }


#p1Turn {
  width: 50px;
  margin-left: auto;
  margin-right: 50px;
}

#p2Turn {
  position: absolute;
  width: 50px;
  margin-left: 1160px;
  margin-right: auto;
  margin-left: 50px;
}

#p2Turnn {
  position: absolute;
  width: 50px;
  margin-left: 1490px;
  margin-top: 9px;
}

#p1Score {
 margin-left: 0px;
}

#p2Score {
  margin-left: 130px;
}













}


@media (max-width: 1760px) and (min-width: 1670px){

.col {
  width: 180px;
  height: 180px;
    }
h1 {
  font-size: 50px;
}
}

@media (max-width: 1669px) and (min-width: 1590px){

body {
background-image: 2000px;
}

#p1Turn {
  height: 50px;
  width: 50px;
  margin-left: 0px; 
}

#p2Turn {
  position: relative;
  width: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

#playerTwoImage {
  height: 300px;
  width: 250px;
  margin-left: 900px;
  margin-top: 10px;
}

#playerOneImage {
  margin-top: 50px;
  height: 280px;
  width: 250px;
  margin-left: 100px;
  margin-top: 10px;
}


.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 180px;
  height: 180px;
    }


.scores {
  position: relative;
  /*top: 1%;*/
  height: 110px;
}













}


@media (max-width: 1590px) and (min-width: 1335px ){
  .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 150px;
  height: 150px;
    }

h1 {
  font-size: 40px;
}

#p1Turn {
  height: 50px;
  width: 50px;
  margin-left: 0px; 
}

#p2Turn {
  position: relative;
  width: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

}


@media (max-width: 1335px) and (min-width: 1000px ){
 .col {
  display: block;
  width: 145px;
  height: 145px;
   margin: 10% 10% 1% 1%;
    }
#playerTwoImage {
  height: 250px;
  width: 200px;
  margin-left: 900px;
  margin-top: 10px;
}

#playerOneImage {
  margin-top: 50px;
  height: 230px;
  width: 200px;
  margin-left: 100px;
  margin-top: 10px;
}

p {
  display: inline-flex;
  font-family: 'Luckiest Guy';
  font-size: 70px;
  top: 20px;
}

h1 {
  font-size: 40px;
}

#p1Turn {
  height: 50px;
  width: 50px;
  margin-left: 0px; 
}

#p2Turn {
  position: relative;
  width: 50px;
  margin-left: 30px;
  margin-top: 10px;
}

}



















/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
body {
   background-size: 4800px;
}

h1 {
  font-size: 80px;
  
}

.soundOnImg {
  width: 250px;
}

.soundOn {
    right: -250px;
}

.soundOffImg {
  width: 250px;
}

.soundOff {
    top: 180px;
    right: -250px;
}

.replayImg {
  width: 250px;
}

.replay {
    top: 380px;
    right: -250px;
}


.col {
  width: 350px;
  height: 350px;
  }

.section1 {
    top: 50%;
    left: 3%;
}

.section2 {
    top: 50%;
    left: 45%;
}

.section3 {
    top: 50%;
    left: 87%;
}

#playerOneImage {
  width: 430px;
  margin-left: 150px;
}

#playerTwoImage {
  width: 430px;
  margin-left: 500px;
}

#p1Turn {
  width: 50px;
  margin-left: 270px;
}

#p2Turn {
  margin-left: 100px;
  margin-top: 9px;
}

#p2Turnn {
  position: absolute;
  width: 50px;
  margin-left: 1490px;
  margin-top: 9px;
}

footer {
  bottom: 1%;
  width: 100%;
  text-align: center;
  /*color: #eceff1;*/
  color: black;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 5px;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
body {
   background-size: 1700px;
}

.col {
  width: 210px;
  height: 210px;
  }

.section1 {
    top: 20%;
    left: 40%;
}

.section2 {
    top: 20%;
    left: 65%;
}

.section3 {
    top: 20%;
    left: 90%;
}

}