/* My CSS File */

html, body {
  background-image: url("images/pic1.png");
  background-repeat: repeat;
  overflow: hidden;
  width: 100%;
  height: auto;
}

div {
  /* border: 5px solid red; */
}

p {
  font-family: 'Luckiest Guy';
  font-size: 100px;
  font-weight: lighter;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.top-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.buttons-container {
display: flex;
height: 50%;
}


.tada {
  animation-duration: 2s;
  animation-delay: 0.5s;
}


.title-item {
flex-grow: 1;
margin-right: 5%;
}

.tt {
margin-left: 30%;
}

h1 {
  text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-size: 60px;
	color: yellow;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  letter-spacing: 2px;
  margin-top: 40px;
}

/*  SECTIONS  */
.noClicks {
  width:100%;
}

.game-container {
  clear: both;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.p-container {
  justify-content: center;
  width: 20%;
}

.player-image {
  display: flex;
  justify-content: center;
}

.turn-indicator {
  display: flex;
  justify-content: center;
}


.group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*  COLUMN SETUP  */
.col {
  border: 5px solid black;
  background-color: rgba(236,239,241, 0.8);
	width: 200px;
	height: 200px;
  border-radius: 25px;
  margin: 3px;
  z-index: 1;
}


.score {
  display: flex;
  margin: 0;
  justify-content: center;
}

#playerOneImage {
  width: 30vh;
}

#playerTwoImage {
  width: 30vh;
}

#p1Turn {
  width: 50px;
}

#p2Turn {
	width: 50px;
}

#p2Turnn {
  width: 50px;
}

@keyframes bounceInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes pulse {
 50% {
    -webkit-transform: scale3d(1.10, 1.10, 1.10);
    transform: scale3d(1.10, 1.10, 1.10);
  }
}

/* ----------- MODAL ----------- */

.swal-overlay {
  background-color: rgba(242,245,248, 0.5);
}

.swal-text{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.swal-button {
  font-size: 20px;
}

.swal-modal {
  border: black solid 5px;
}



/* ----------- FOOTER ----------- */

footer {
  font-family: 'Indie Flower', cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}

.heart {
  height: 25px;
}

span.heart {
  color: red;
	font-weight: bold;
}

/* ----------- MEDIA QUERIES ----------- */

@media (max-width: 1550px){
  .col {
    height: 200px;
    width: 200px;
  }

  #title {
    font-size: 55px;
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .game-btn {
    height: 80px;
  }  

  #playerOneImage {
    width: 25vh;
  }
  
  #playerTwoImage {
    width: 25vh;
  }
  
}

@media (max-width: 1280px){ 
  .col {
    width: 180px;
    height: 180px;
  }
  #title {
    font-size: 45px;
  }
  #playerOneImage {
    width: 20vh;
  }
  
  #playerTwoImage {
    width: 20vh;
  }

}

@media (max-width: 1090px){ 
  .col {
    height: 150px;
    width: 150px;
  }

  #title {
    font-size: 35px;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  p {
    font-size: 80px;
  }

  #playerOneImage {
    width: 18vh;
  }
  
  #playerTwoImage {
    width: 18vh;
  }

  .game-btn {
    height: 70px;
  }  

}

@media (max-width: 860px){ 
.col {
  width: 100px;
  height: 100px;
}

.game-btn {
  height: 60px;
}  

#title {
  font-size: 30px;
  width: 80%;
  margin-top: 15%;
  margin-bottom: 15%;
}

#playerOneImage {
  width: 15vh;
}

#playerTwoImage {
  width: 15vh;
}

}

@media (max-width: 720px){ 
  .col {
  margin: 1;
  }  

  #playerOneImage {
    width: 13vh;
  }
  
  #playerTwoImage {
    width: 13vh;
  }

  p {
    font-size: 60px;
  }
  
  #title {
    margin-top: 25%;
    margin-bottom: 15%;
  }
  
}

@media (max-width: 650px){ 
  .col {
  width: 90px;
  height: 90px;
  margin: 2px;
  border: 3px solid black;
}

#title {
  font-size: 30px;
  width: 95%;
  margin-top: 25%;
  margin-bottom: 15%;
}

#playerOneImage {
  width: 10vh;
}

#playerTwoImage {
  width: 10vh;
}

p {
  font-size: 55px;
}

#p1Turn {
  width: 3vh;
}

#p2Turn {
	width: 3vh;
}

#p2Turnn {
  width: 3vh;
}

}